



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
a{
  text-decoration: none;  
}

@import "Partials/navbar.scss";
.section{
    display: flex;
    align-items: center;
    .col{
        width: 50%;
    }
}
.main{
    padding-block: 3vw;
}
.container{
    padding-inline: 15vw;

}

@import "Partials/animations.scss";
@media screen and (max-width: 768px) {
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;

        }
    }
   
}




